// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light_blue: #00A2E8;

.show_game {
  text-decoration: none;

  &:hover {
    background-color: transparent;

    p {
      color: blue;
    }
  }

  p {
    color: black;
  }
}

#game_image {
  float: left;
}

#game_info {
  float: left;
}

#add_to_basket_button {
  float: left;
  background-color: $light_blue;
}

#add_to_basket_link {
  text-decoration: none;
  color: white;
  &:hover {
    background-color: transparent;
  }
}

#remove_from_basket_link {
  float: left;
}